################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactBookDBApp/.vs
/ContactBookDBApp/bin/Debug/net8.0
/ContactBookDBApp/obj
